# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorataan venvit, ettei telegramin tunnukset vuoda nettiin
venv/
.venv/

# Ignorataan Excel filut 
levylista.xlsx

# Ignore log files
*.log

# Ignorataan venvit, ettei telegramin tunnukset vuoda nettiin
.env
